<div class="container">
  <h1 class="header-title">Top Stories</h1>

  <!--Loader-->
  <div *ngIf="isLoading && !errorMessage" class="loader">
    Loading stories...
  </div>

  <!--ErrorMessage-->
  <div *ngIf="!isLoading && errorMessage" class="error">{{ errorMessage }}</div>

  <!--Main-->
  <div *ngIf="!isLoading && !errorMessage">
    <div class="search-bar">
      <input
        class="search-text"
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Search for stories"
        (input)="onSearch(searchQuery)"
      />
    </div>
    <ul>
      <li *ngFor="let story of stories">
        <a
          [ngClass]="{
            noCursorAction:
              story.url == '' || story.url == null || story.url == undefined
          }"
          [href]="story.url"
          target="_blank"
          >{{ story.title }}</a
        >
      </li>
    </ul>

    <!-- Pagination Controls -->
    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="currentPage === 1">
        Previous
      </button>

      <span *ngFor="let page of [].constructor(totalPages); let i = index">
        <button
          (click)="goToPage(i + 1)"
          [ngClass]="{ active: currentPage === i + 1 }"
          [disabled]="currentPage === i + 1"
        >
          {{ i + 1 }}
        </button>
      </span>

      <button (click)="nextPage()" [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
  </div>
</div>
