.loader {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.error {
  color: red;
  font-size: 18px;
  text-align: center;
}

.header-title {
  text-align: center;
  color: #1a2f45;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

a.noCursorAction {
  cursor: no-drop;
  pointer-events: none;
  color: #838282;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 10px;
  background-color: #1a2f45;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-controls button.active {
  background-color: #5b67e7;
}

.search-bar {
  margin-bottom: 10px;
}

.search-text {
  background-color: lightblue;
  padding: 10px;
  width: 208px;
  float: right;
}
